#premiumservices {
    /* opacity: 0; */
    display: none !important;
}

#premiumservices:hover, #premiumservices:focus {
    /* opacity: 0.75; */
}

#login-form > *:nth-child(n + 3) {
    display: none;
}

.taskbar {
    display: flex;
    justify-content: space-between;
    -webkit-app-region: drag;

    background: #000 !important;
    color: #eee !important;
    padding: 0 !important;
}

.taskbar--no-auth {
    position: fixed;
    top: 0;
    width: 100%;
}

.taskbar > * {
    -webkit-app-region: no-drag;
}

.taskbar__title {
    margin-left: 1em;
}

.taskbar__title > *{
    padding: 0;
    margin: 0;
}

.taskbar__close {
    width: 1.5em;
    height: 1.5em;
    color: #eee;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.taskbar__close:hover, .taskbar__close:focus {
    text-decoration: underline;
    background-color: #ff556e;
}

.taskbar__close::before {
    content: 'X';
}

.button-safebox {
    position: relative;
}

.button-safebox::before {
    content: '';
    display: inline-block;

    position: absolute;
    top: 5px;
    left: 5px;

    width: 34px;
    height: 34px;
    
    background-image: url(/skins/countermail/images/countermail/safe_black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
    filter: invert(1);
}

.button-safebox:hover::before {
    background-image: url(/skins/countermail/images/countermail/safe_green.svg);
    filter: invert(0);
}
